html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1 REM = 10 PX*/
    background-color: black;
}

header img{
    margin: 2rem 0 0 2.5rem;
    max-width: 10rem;
    
}

/*SECCIÓN PRINCIPAL*/
#section{
    margin: 2.5rem;
    max-width: max-content;
    display: flex;
    align-items: center;
}
/*h1 y p*/
.text{
    color: white;
    font-family: "arimo";
    max-width: max-content;
    max-height: max-content;
    display: flex;
    position: relative;
    flex-direction: column;
}
.text h1{
    font-size: 4.5rem;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
}
.text h1 span{
    background-color: red;
}
.text p{
    font-size: 1.7rem;
}
/*BOTON*/
#boton{
    display: flex;
    justify-content: center;
}
#boton a{
    text-decoration: none;
    color: red;
    border: red solid 0.2rem;
    font-size: 3rem;
    max-width: 21rem;
    padding: 0.5rem;
    margin-top: 1rem;

}
/*IMAGEN*/
#section img{
    max-width: 35rem;
    position: relative;
    left: 10rem;

}
/*MEDIA QUERIES*/
@media (max-width: 1000px) {
    #section img{
        width: 30rem;
        left: 0rem;
    }
    .text h1{
        font-size: 3rem;
    }
    .text p{
        font-size: 1.5rem;
    }
    
}