html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1 REM = 10 PX*/
    background-color: black;
}
/*HEADER*/
header img{
    padding: 2.5rem;
    width: 9rem;
}

/*SECTION*/
section{
    padding: 2.5rem 2.5rem;
    display: flex;
    gap: 10rem;
    align-items: center;
    
}
#text{
    font-family: "arimo";
    color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
}
#text h1{
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
}
#text span{
    background-color: red;
}
#text p{
    font-size: 2rem;
}
#text a{
    font-size: 2.5rem;
    font-weight: bolder;
    color: red;
    text-decoration: none;
    border: red solid 0.3rem;
    padding: 1rem;
    align-self: center;
}

/*IMG*/

/*RESPONSIVE*/
@media (max-width: 768px){
    section{
        width: auto;
        display: block;
        text-align: center;
        
    }
    #text h1{
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    #text p{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    #text{
        width: auto;
    }
    section img{
        margin: 2rem;
        width: 22rem;

    }
}
